body{
  padding:0;
  margin:0;
}
.container{
  background: linear-gradient(45deg,  rgba(66, 183, 245,0.8) 0%,rgba(66, 245, 189,0.4) 100%);
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  flex-direction: column;
}
.form-cont{
  padding:40px;
  background-color: white;
}
.inputCont{
  margin-top: 15px;

  display:flex;
  flex-direction: column;

  justify-content: center;
 
}
.label-cont{
  display:flex;
  flex-direction: row;
  padding: 0;

  align-items: center;
  gap:10px;

}
.form-cont h1{
  color:#4285F4;
  font-weight: 800;

  margin:0;
  padding:0;
}
.label-cont h2{
  line-height: 20px;
  margin:5px;
  padding:0;
  font-size:18px;
}
.label-cont h3{
  line-height: 20px;
  margin:5px;
  padding:0;
  color:red;
  font-size:14px;
  margin-left:-8px;
}
input{
  width:350px;
  height:37px;
  border-radius: 3px;
  outline: none;
  border:0;
  font-size: 18px;
  background-color: rgba(58, 41, 41, 0.2);
}
.name-input{
  width:165px;
  height:37px;
}
.nameContainer{
  gap:10px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
button{
  margin-top: 13px;
  width:100%;
  height:37px;
  background-color: white;
  border-radius: 3px;
  outline: none;
 border:0px;
  cursor: pointer;
  background-color: #4285F4;
  color:white;
  font-size: 20px;
  transition: 0.5s;
}
button:hover{
  background-color: #3977da;
}
.inp-cont{
  display:flex;
  flex-direction: column-reverse;
}

.login-text{

  padding:0;
 
  margin-top:10px;
  font-size: 16px;
  color:#3977da;
  outline: none;
  text-decoration: none;
}

.container a{
text-decoration: none;
}
.inc-text{
  padding:0;
  margin:0;
  color:red;
  }

@media only screen and (max-width: 450px) {
  .nameContainer{
    flex-direction: column;
  }
  .form-cont {
    padding: 35px;
    background-color: white;
    width:75%;
}
  .name-input{
    width:100%;
  }
  input{
    width:100%;
  }
  
  }
  @media only screen and (max-width: 350px) {
    .nameContainer{
      flex-direction: column;
    }
    .form-cont {
      padding: 30px;
      background-color: white;
      width:70%;
  }
    .name-input{
      width:100%;
    }
    input{
      width:100%;
    }
    
    }